.content{
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  h2{
    text-align: left;
  }
}.form {
  display: flex;
  align-items: center;
  margin: 17px 0;
  padding: 0;
  font-size: 16px;
  min-width: 350px;
  max-width: 500px;
}

// .label {
//   width: 180px;
//   font-size: 14px;
//   font-weight: bold;
// }
.input {
  padding: 5px;
  flex: 1;
  border: 1px solid #ccc;
}
.button{  
  padding: 5px 10px;
  background-color: #177deb;
  color: white;
  border: none;
  cursor: pointer;
}

