.listContainer {
  display: flex;
  flex-direction: column;

  header h2, h3, h4, h5, h6 {
    justify-self: center;
  }
}
.listHeader {
  margin: 7px 27px 7px 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 7px 12px;
  margin-top: 0;
  overflow-y: auto;
  flex-grow: 1; /* This makes the list expand to fill available space */ 
height: 45vh;
}
.listItem {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: #177eeb3f;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}
.domain {
  font-size: 16px;
  font-weight: bold;

  display: flex;
  align-items: center;
  width: 100%;

  &::after {
    content: "";
    flex-grow: 1;
    border-bottom: 2px dotted #177eeb3f;
    margin: 0 17px;
  }
}
.ip {
  font-size: 14px;
  color: #555;
}
